<app-header></app-header>
<div class="flex-container">
  <div class="flex-item barra">
    <app-asside></app-asside>
  </div>
  <div class="flex-item cuerpo">
    <div class="content-wrapper py-3" style="margin-left: 0;padding-bottom: 0 !important;">
      <div class="container-fluid">
        <!-- <div class="items_cuerpo">
          <app-breadcrumbs></app-breadcrumbs>
        </div> -->
        <!-- <div class="items_cuerpo">
          <app-ioncards></app-ioncards>
        </div> -->
        <div class="items_cuerpo">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
